h1
{   margin: 30px;
    color:rgb(7, 2, 12);
    background: rgb(231, 162, 24);
    padding: 30px;
    border: 2px solid rgb(12, 1, 1);
    
    text-align: center;
}
img 
{  
    width: 400px;
    border: 1px solid rgb(20, 16, 228);
}
#thirdDiv
{
    height: 600px;
    width: 500px ;
    background-color: aqua;
    padding: 50px;
    border: 2px solid rgb(15, 3, 1);
    text-align: center;  
    margin: auto;      
}
h4{text-align: center;}

#spanId
{
    font-size: 18px;
    margin: auto;
    text-align: center;
}
.divClass
{
  margin: 0px auto;
  text-align: center;
  color: rgb(22, 5, 7);
}
